<div class="span6 offset3 text-center steamy-hottub">
	<h1 class= "custom-font text-left" margin-left: 100px >
		Add your pic of hottub coding
	</h1>


	<%= simple_form_for @pic do |f| %>
		<%= f.input :hour, label: 'which hour was this?', placeholder: '1, 2, 3, etc.', :input_html => {:min => 1}%>
		<%= f.input :emotion, label: 'How did you feel?', placeholder:'Stoked, Excited, Confused' %>
		<%= f.input :learned, label: 'What did you learn?', placeholder: 'HTML, CSS3, Rails, Ruby, Github' %>
	<br />
		<%= f.submit 'Save', :class => 'btn btn-warning, btn-large' %>
	<% end %>

	</h2>
</div>